# OPEN VARIABLES
NEXT_PUBLIC_HOMESERVER=ufibwbmed6jeq9k4p583go95wofakh9fwpp4k734trq79pd9u1uy
NEXT_PUBLIC_NEXUS=https://nexus.staging.pubky.app
NEXT_PUBLIC_TESTNET=false
NEXT_PUBLIC_PKARR_RELAY=https://relay.pkarr.org

# SECRET VARIABLES
BASE_URL_SUPPORT=
SUPPORT_API_ACCESS_TOKEN=
SUPPORT_ACCOUNT_ID=
