NEXT_PUBLIC_HOMESERVER=pk:z6damwc3jzj1jmtac3kmsiyrgdfxaw8awndaedfnns3obyg9tzxo
NEXT_PUBLIC_PKARR_RELAY=http://localhost:7258
NEXT_PUBLIC_NEXUS=http://localhost:8080

# NEXT_PUBLIC_HOMESERVER=pk:4unkz8qto4xec6jhw9mie9oepgcurirebdx8axyq3o36fanooxxy
# NEXT_PUBLIC_PKARR_RELAY=https://relay.pkarr.org
# NEXT_PUBLIC_NEXUS=http://localhost:8080
