@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-VariableFont_wght.woff2') format('woff2'),
    url('/Inter_Tight/InterTight-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff2')
      format('woff2'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.ttf')
      format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050a;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: 'Inter Tight' !important;
}

@media screen and (min-width: 1024px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.rsw-editor {
  min-height: 400px !important;
  border: none !important;
}

.rsw-ce {
  color: white !important;
  outline: none !important;
}

.rsw-toolbar {
  background-color: #05050a !important;
  border-radius: 8px !important;
  border: 1px solid #ffffff29 !important;
}

.rsw-btn {
  color: white !important;
}

.rsw-btn:hover {
  background-color: rgba(128, 128, 128, 0.5) !important;
}

.rsw-btn[data-active='true'] {
  background-color: rgba(128, 128, 128, 0.5) !important;
}
