@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-VariableFont_wght.woff2') format('woff2'),
    url('/Inter_Tight/InterTight-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff2')
      format('woff2'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.ttf')
      format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050a;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

@media screen and (min-width: 1024px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.fr-toolbar {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

.fr-toolbar .fr-command.fr-btn svg path,
.fr-popup .fr-command.fr-btn svg path,
.fr-modal .fr-command.fr-btn svg path {
  fill: white !important;
}

.fr-box.fr-basic .fr-wrapper {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

textarea.fr-code {
  background-color: #05050a !important;
  color: white !important;
}

.fr-box.fr-basic .fr-element {
  color: white !important;
}

.fr-second-toolbar {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

#fr-logo {
  display: none !important;
}

.fr-box.fr-code-view .fr-counter {
  display: block !important;
}

.fr-toolbar .fr-newline {
  display: none !important;
}

.fr-command.fr-btn + .fr-dropdown-menu {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}
.fr-command.fr-btn
  + .fr-dropdown-menu
  .fr-dropdown-wrapper
  .fr-dropdown-content
  ul.fr-dropdown-list
  li
  a {
  color: white !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown:after,
.fr-popup .fr-command.fr-btn.fr-dropdown:after,
.fr-modal .fr-command.fr-btn.fr-dropdown:after {
  border-top: 4px solid white !important;
}

.fr-popup {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

.fr-popup .fr-buttons.fr-tabs {
  background-color: #05050a !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

.fr-toolbar .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active,
.fr-toolbar .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active-tab,
.fr-popup .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active,
.fr-popup .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active-tab,
.fr-modal .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active,
.fr-modal .fr-tabs .fr-command.fr-btn:not(:hover):not(:focus).fr-active-tab {
  background-color: #05050a !important;
}

.fr-popup .fr-action-buttons button.fr-command {
  color: white !important;
}

.fr-popup .fr-input-line input[type='text']:focus,
.fr-popup .fr-input-line input[type='number']:focus,
.fr-popup .fr-input-line textarea:focus {
  border: solid 2px white !important;
}

.fr-popup .fr-input-line input[type='text'],
.fr-popup .fr-input-line input[type='number'],
.fr-popup .fr-input-line textarea {
  background-color: #05050a !important;
  color: white !important;
  border: 1px solid rgba(128, 128, 128, 0.194) !important;
}

.fr-popup .fr-input-line input.fr-not-empty + label,
.fr-popup .fr-input-line textarea.fr-not-empty + label {
  background-color: #05050a !important;
  color: white !important;
}

.fr-popup .fr-image-progress-bar-layer > h3 {
  color: white !important;
  border: none !important;
  margin: 0px !important;
  outline-style: none !important;
}

.fr-toolbar .fr-command.fr-btn.fr-btn-active-popup,
.fr-popup .fr-command.fr-btn.fr-btn-active-popup,
.fr-modal .fr-command.fr-btn.fr-btn-active-popup {
  background: rgba(47, 47, 56, 0.6) !important;
}

.fr-desktop .fr-command:hover:not(.fr-table-cell),
.fr-desktop .fr-command:focus:not(.fr-table-cell),
.fr-desktop .fr-command.fr-btn-hover:not(.fr-table-cell),
.fr-desktop .fr-command.fr-expanded:not(.fr-table-cell) {
  background: rgba(47, 47, 56, 0.6) !important;
}

.fr-command.fr-btn
  + .fr-dropdown-menu
  .fr-dropdown-wrapper
  .fr-dropdown-content
  ul.fr-dropdown-list
  li
  a
  svg
  path {
  fill: white !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active,
.fr-modal .fr-command.fr-btn.fr-dropdown.fr-active {
  background: rgba(47, 47, 56, 0.6) !important;
}

.fr-command.fr-btn
  + .fr-dropdown-menu
  .fr-dropdown-wrapper
  .fr-dropdown-content
  ul.fr-dropdown-list
  li
  a.fr-active {
  background: rgba(47, 47, 56, 0.6) !important;
}

.fr-popup .fr-input-line input + label,
.fr-popup .fr-input-line textarea + label {
  background-color: transparent !important;
  color: rgba(128, 128, 128, 0.8) !important;
}

.fr-popup .fr-checkbox-line label {
  color: white !important;
}

.fr-view {
  font-family: 'Inter Tight' !important;
}
