@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050a;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.dark-editor .w-md-editor,
.dark-editor .w-md-editor-toolbar,
.dark-editor .w-md-editor-content {
  background-color: #05050a !important;
  color: #ffffff !important;
}

.dark-editor .w-md-editor-toolbar {
  border-color: #333 !important;
}

.dark-editor .w-md-editor-content .w-md-editor-text-pre::selection {
  background-color: #555 !important;
  color: #ffffff !important;
}

.dark-editor .w-md-editor-toolbar .w-md-editor-toolbar-item button {
  color: #ffffff !important;
}

.dark-editor .w-md-editor-toolbar .w-md-editor-toolbar-item button:hover {
  color: #bbbbbb !important;
}

.dark-editor .w-md-editor-text-input,
.dark-editor .w-md-editor-preview {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

.dark-editor .w-md-editor-preview code,
.dark-editor .w-md-editor-preview pre {
  background-color: #05050a !important;
  color: white !important;
}

.dark-editor .w-md-editor-preview table th {
  background-color: #05050a !important;
  color: white !important;
}
