@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-VariableFont_wght.woff2') format('woff2'),
    url('/Inter_Tight/InterTight-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src:
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff2')
      format('woff2'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.woff') format('woff'),
    url('/Inter_Tight/InterTight-Italic-VariableFont_wght.ttf')
      format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050a;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: 'Inter Tight' !important;
}
